
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  }

  .light-font {
    font-weight: 300;
  }

  .italic-font {
    font-style: italic;
  }

  .bold-font {
    font-weight: 700;
  }
